@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*Add padding and margin last*/
  display: flex;
  flex-flow: column nowrap;
  color:#E5E7EB;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header,
main,
footer {
  display: flex;
  /*Maybe do padding and margin here idk*/
}

header, footer{
background-color: #1F2937;
}

header {
  justify-content: space-between;
}

.header-logo{
  color:#F9FAF8;
  font-size:24px;
  font-weight: 600;
}

.header-nav-list {
  display: flex;
  list-style: none;
  color:#E5E7EB;
}

main {
  flex-flow: column nowrap;
}

section {
  display: flex;
  align-items: center;
}

.hero {
  justify-content: space-between;
  background-color: #1F2937;
}

.hero-header{
  color:#F9FAF8;
  font-size: 48px; 
  font-weight:700;
}

.hero-subtext{
  color:#E5E7EB;
  font-size:18px;

}

.info {
  flex-flow: column nowrap;
  text-align: center;
}

.info-main {
  display: flex;
  color: #1F2937;
}

.info-header{
  color: #1F2937;
  font-size:36px;
  font-weight: 700;
}

/* .info-image{
  border:1px solid black;
  border-radius: 10px;
} */

.testimonial,
.cta {
  justify-content: center;
}

.testimonial{
  background-color: #d1d2d4;
  color:#1F2937;
}

.testimonial-quote{
  font-size:36px;
  font-weight: 300;
  font-style: italic;
}

.testimonial-speaker {
  text-align: right;
}

.cta-content {
  background-color:  #3882F6;
  display: flex;
}

.cta-header{
  font-weight: 600;
}
.cta-subtext{
}
.cta-button{
  border:1px solid #E5E7EB;
}

footer {
  justify-content: center;
  color:#E5E7EB;
}

button{
  background-color:  #3882F6;
  border:none;
  font-family: 'Inter', sans-serif;
  color:#E5E7EB;
  font-weight:600;
}