@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  color: #e5e7eb;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 100vw;
}

header,
main,
footer {
  display: flex;
  width: 100%;
}

header,
footer {
  background-color: #1f2937;
  padding: 20px 15%;
}

header {
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

.header-nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

main {
  flex-flow: column nowrap;
}

section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 150px 15%;
}

.hero {
  background-color: #1f2937;
  justify-content: space-between;
}

.hero-main {
  width: 37%;
}

.hero-header {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text {
  margin-bottom: 15px;
}

.hero-image{
 width:50%;
}

.info {
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;

}

.info-main {
  display: flex;
  color: #1f2937;
  justify-content: center;
  gap: 60px;
}

.info-header {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 75px;
}

.info-box {
  width: 160px;
}

.info-box-image {
  border:3px solid #3882f6;
  border-radius: 10px;
  width: 160px;
  height:160px;
  padding:25px;
  margin-bottom:10px;
}

.testimonial,
.cta {
  justify-content: center;
}

.testimonial {
  background-color: #d1d2d4;
  color: #1f2937;
}

.testimonial-quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.testimonial-speaker {
  text-align: right;
}

.cta-content {
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  padding: 50px 15%;
}

.cta-header {
  font-weight: 600;
}

.cta-button {
  border: 2px solid #e5e7eb;
}

footer {
  justify-content: center;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #e5e7eb;
  font-weight: 600;
  padding: 7px 25px;
}

figure {
  padding: 0 18%;
}
